<%- include('../partials/header') %>

<main>
  <h1>Account Management</h1>
  <p>You're logged in, <%= accountData.account_firstname %>!</p>

  <p>This is your secure account dashboard. More features coming soon.</p>
</main>

<%- include('../partials/footer') %>
